.option-value {
	border: 1px solid #CFCFCF;
	margin-bottom: 15px;
	padding: 10px;
}

.option-value input {
	margin-right: 10px;
}
.option-value .smaller input {
	width: 47%;
	float: left;
}

.option-value textarea {
	width: 97%;
}

td img {
	vertical-align: middle;
}

.tiny {
	clear: both;
}

div>a.remove {
	color: red;
	font-size: 20px;
}
a.remove:hover {
	text-decoration: none;
}

.tiny input {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.shop_images .image {
	width: 150px;
	float: left;
	text-align: center;
}
.shop_images .image a {
	clear: both;
	display: block;
}
.shop_images .image a > img {
	width: 75px;
}

.shop_images .image div.name {
	text-align: left;
}

.shop_images .image div.info {
	clear: both;
}

.shop_images .dashboard .info {
	border: none;
}

div.price,
div.markup,
div.stock-value {
	cursor: pointer;
}

div.price span.cost,
div.markup span.percentage,
div.stock-value span.value{
	display: none;
}


div.attributes li.active img {
	border: 1px solid red;
}
div.attributes li.active img:hover {
	border: 1px solid #333;
}
div.attributes li img:hover {
	border: 1px solid orange;
}

li.attribute {
	position: relative;
}

li.attribute .badge {
	position: absolute;
	top: 2px;
	right: 2px;
}

li.attribute .name {
	font-size: 11px;
}

h4 small.count {
	padding-right: 10px;
	float: right;
}