.option-value {
	border: 1px solid #CFCFCF;
	margin-bottom: 15px;
	padding: 10px;
}

.option-value input {
	margin-right: 10px;
}
.option-value .smaller input {
	width: 47%;
	float: left;
}

.option-value textarea {
	width: 97%;
}

td img {
	vertical-align: middle;
}

.tiny {
	clear: both;
}
.tiny img.remove {
	padding-top: 13px;
}

.tiny input {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.shop_images .image {
	width: 150px;
	float: left;
	text-align: center;
}
.shop_images .image a {
	clear: both;
	display: block;
}
.shop_images .image a > img {
	width: 75px;
}

.shop_images .image div.name {
	text-align: left;
}

.shop_images .image div.info {
	clear: both;
}

.shop_images .dashboard .info {
	border: none;
}

div.price,
div.markup,
div.stock-value {
	cursor: pointer;
}

div.price span.cost,
div.markup span.percentage,
div.stock-value span.value{
	display: none;
}